/* ------ HAMBURGER ------- */
#hamburgerMenu {
  cursor: pointer;
  z-index: 100;
}

#hamburgerMenu li {
  transition: transform 0.4s ease, opacity 0.4s ease;
}

/* Animation croix */
#hamburgerMenu[data-action="true"] #cross1 {
  transform: rotate(-45deg) translate(-0.8rem, 0);
}

#hamburgerMenu[data-action="true"] li:nth-child(2) {
  opacity: 0;
}

#hamburgerMenu[data-action="true"] #cross2 {
  transform: rotate(45deg) translate(-0.9rem, -0.1rem);
}

/* ----- SIDEBAR ----- */
#sideBar {
  position: fixed;
  inset: 0 0 0 auto;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 50;
}

#sideBar[data-action="true"]{
  transform: translateX(0);
}

/* Animations */
@keyframes crossHamburger1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg);
  }
}

@keyframes crossHamburger2 {
  from {
    transform: rotate(0deg) translate(0, 0);
  }
  to {
    transform: rotate(45deg) translate(-15px, -15px);
  }
}

@keyframes disapear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideMenu {
  from {
    transform: translate(100%, -50%);
  }
  to {
    transform: translate(0%, -50%);
  }
}