@import "tailwindcss";

@font-face {
  font-family: "CreamCake";
  src: url("../src/assets/fonts/CreamCake.otf") format("truetype");
}

body {
  font-family: 'Outfit', sans-serif;
}

@theme {
  --color-chocolate: #64403E;
  --color-latte: #D7B997;
}