@import "tailwindcss";

@font-face {
  font-family: "CreamCake";
  src: url("../src/assets/fonts/CreamCake.otf") format("truetype");
}

body {
  font-family: 'Outfit', sans-serif;
}

@theme {
  --color-chocolate: #64403E;
  --color-latte: #D7B997;
  --color-matcha: #619A62;
  --color-light: #F5F5F5;
  --color-frappe: #F2D7C2;
}